.flex-column {
  flex-direction: column;
}

.register {
  min-height: 65vh;
  display: flex;
  background-color: #ffeed1;
}

.register h2 {
  font-size: 4rem;
  margin-bottom: 4.8rem;
  line-height: 1.1;
}

.register .container {
  display: flex;
}

.footer {
  min-height: 35vh;
  display: flex;
  background-color: #111118;
  text-align: center;
}

.footer img {
  max-width: 8.7rem;
  margin-bottom: 2.4rem;
}

.button {
  border: solid 0.2rem #ffeed1;
  color: #ffeed1;
  line-height: 1;
  padding: 0.6rem 1.2rem;
  min-width: 12rem;
  text-align: center;
  text-decoration: none;
}

.form {
  margin: 4.8rem 2.4rem;
}

.sign-up {
  display: flex;
  border-bottom: solid 0.2rem #00b290;
  padding-bottom: 1.2rem;
  cursor: text;
  font-size: 2rem;
}

.submit {
  cursor: not-allowed;
}

input {
  background: none;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

.email-input {
  flex: 1;
}

.eyes {
  width: 10.8rem;
  height: 3.2rem;
  background-image: url("../images/eyes_open.svg");
}

.hand {
  width: 5.7rem;
  height: 8.9rem;
  background-image: url("../images/ok_hand.svg");
  align-self: flex-end;
}

.eyes,
.hand {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 48rem) {
  .register .container {
    flex-direction: column;
  }

  .register h2 {
    font-size: 3rem;
  }

  .form {
    margin: 2.4rem 0;
  }
}
